*{margin:0;padding:0;}
/* nav and header area */
#nav-img{
       margin-bottom: 10px;
       position: relative;
       left:100px;
    }

.site-header{
              background-color: #f0fff0;
              height:600px;
              margin-bottom: 100px;
              position: relative;bottom:50px
  }
  .container{
    margin-bottom: 100px;
}
#primary-btn{
    background-color: green;
    color:white;
    height:30px;
    width:70px;
    border-radius: 10px;
    font-size: 14px;
    padding-top: 2px;
    margin-right: 5px;
    text-align: center;
    margin-top: 3px;
}

.Header-section-img{
    height:100%;
    width:100%;
    margin-bottom:90px;
    margin-top:20px;
}

.text-formet{margin-left:40px;}

.secendary-btn{
    background: rgb(4, 83, 4);
    color:white;
    border:2px solid greenyellow;
    width:100px;
    height:30px;
    border-radius: 10px;

}

span{
    color:green
}
/* statistics area */
.statistics-img{
    height: 100px; 
 
}

.same-box{
        background: rgb(231, 238, 238);

        box-shadow: 10px 10px 20px gray;
        text-align: center;
        border-radius: 10px;

}


.different-box{
    text-align: center;
    border-radius: 10px;
}

.different-box:hover{
     box-shadow:3px 3px 8px grey;
    }
  

    /* cources area */

.card{
    border: none;
    box-shadow: 10px 10px 25px gray;
}

.card-body{
            text-align: center;
}
 

.card-img-top{
    width:320px;
     margin-left: 14px;
     margin-top: 10px;}

.card-footer{
    
        height:50px;
    
}


.icon-img{
    height:20px;
     margin-right: 20px;
    }

    /* Testimonial area*/


.section-heading{
                  text-align: center;
                   padding-bottom: 50px;
                 
}


.bigman-img{
            height:200px;
            width:200px;
            position: relative;
            left:150px;
        }


    /* site footer area */

.site-footer{
             background: rgb(73, 67, 67);color:white;
             height:100%
             
            }


.row h5{
      text-align: center;
    }


.service-list li{
    text-align: center;
     list-style-type: none;
     font-size: 10px;
    
    }

    .service-list li:hover{
             color:orange;
             transition: 10s;
             font-size: 20px;
           
    }




.last-paragraph{
                text-align: center;
                font-size: 10px;
}


.last-paragraph:hover{
                 transform: rotate(30deg); 
                 transition: 10s;
                 color:orangered;
                }


